$textColor: rgb(55, 0, 60);
$fonts: 'PremierSans-Bold', Arial, 'Helvetica Neue', Helvetica, sans-serif;

* {
    color: $textColor;
    font-family: $fonts !important;
    font-weight: 600;
}

.graphImage {   
    width: 750px;
    height: 750px;   
}

h1 {
    margin-bottom: 30px !important;
}

Button {
    color: $textColor; 
}