.wrapper {
    max-width: 500px;
}

.controlSpacing {
    margin: 10px 0px 10px 0px;
}

.versusText {
    margin: 0px 10px 0px 10px;
}

.btnSubmit {
    float : right;
}

.dropdownMenu {
    height: 400px;
    overflow-y: scroll;
}