.wrapper {
    //max-width: 500px;
}

.controlSpacing {
    margin: 10px 0px 10px 0px;
}

.versusText {
    margin: 0px 10px 0px 10px;
}

.sectionSpacing {
    margin-bottom: 30px;
}

span {
    margin-right: 30px;
}

.sectionSpacing label {
    margin-right: 20px;
}

.button, .button:hover, .button:active, .button:focus {
    background-color: #37003c !important;
    border-color: #37003c !important;
    outline-style: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}