.wrapper {
    max-width: 500px;
}

.controlSpacing {
    margin: 10px 0px 10px 0px;
}

.versusText {
    margin: 0px 10px 0px 10px;
}

.sectionSpacing {
    //float : right;
    margin-bottom: 30px;
}

.dropdownMenu {
    height: 400px;
    overflow-y: scroll;
}

span {
    margin-right: 30px;
}

.sectionSpacing label {
    margin-right: 20px;
}