.wrapper {
    margin-top: 5px;
}

.card {
    padding: 10px;
    background-color: rgb(0, 255, 135);
    width: 100%;
    display: flex;
}

.teams {
    display: inline-flex;
}
.teams .teamsText {
    margin-right: 10px;
    margin-top: 6px;
    font-size: large;
    color: #37003c;
}

.dropdownMenu {
    transform: translate(0px, 40px) !important;
    min-width: 100% !important;
    border: 2px solid #6d41b5;
    border-radius: 0.25rem;
    overflow-y: scroll;
    height: 200px; 
}

.dropdownItem {
    font-weight: bold;
    text-align: center;
}

.dropdownItem:hover {
    color: rgb(0, 255, 135);
}

.button, .button:hover, .button:active, .button:focus {
    background-color: #37003c !important;
    border-color: #37003c !important;
    outline-style: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.dropdownFull {
    margin-left: auto;
}

.dropdownCollapsed {
    width: 160px;
}