.gwCounter {
    display: inline-flex;
    margin-left: 33%;
    margin-bottom: 10px;
}

.gwCounterSpacing {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 6px;
    font-weight: 600;
}