$green: rgb(0, 255, 135);
$purple: #37003c;

.container {
    height: 10rem;
    margin-bottom: 5rem;   
    padding-top: 2rem;
    padding-left: 2rem;  
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $purple;
}

.nav-item {
    color: white; //$green;
    margin-right: 1px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    float: left;
    display: block;
    padding: 14px 16px;  
}

.nav-item:hover {
    color: $purple;
    background-color: $green;
    text-decoration: none;
}

.active-nav-item {
    color: $purple;
    background-color: $green;
}

.h1 {
    font-size: 5rem;
}