$green: rgb(0, 255, 135);
$purple: #37003c;
$white: white;

.tableHeader {
    color: $white !important;
    background-color: $purple !important;
    border-bottom: 0px !important;
}

.row {
    color: $purple;
    background-color: $green;
    border-bottom: 1px solid $purple;   
    font-weight: bold;
}